<h1>Listing results</h1>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>User</th>
      <th>Poll</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
    <% @window = Window.where(:result_id => result.id) %>
    <% @window.each do |a| %>
      <tr>
        <td><%= User.where(:id => result.user_id).first.email %></td>
        <td><%= Poll.where(:id => result.poll_id).first.name %></td>
        <td><%= a.question_name%></td>
        <td><%= a.answer_name %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


