<ul class="nav nav-tabs" role="tablist">
  <li ><%= link_to 'View list', polls_path %></li>
  <li class="active"><%= link_to 'New todo', new_poll_path %></li>
</ul>

<h1>New poll</h1>

<%= render 'form' %>


